@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-image: url('./images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    font-family: 'Papyrus', sans-serif;
    weight: 500;
    line-height: 74.06px;
    font-size: 28px;
}

p {
    font-family: 'Papyrus', sans-serif;
    weight: 500;
}

li {
    font-family: 'Papyrus', sans-serif;
    weight: 500;
}

span {
    font-family: 'Papyrus', sans-serif;
    weight: 500;
}
